[submodule "themes/roxo"]
	path = themes/roxo
	url = https://github.com/StaticMania/roxo-hugo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
